version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "quarterly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - '*'
