# Ignore local build config
build/build.properties

# Artifacts of the build process
target/

# IDE project files (Intellij)
.idea/
*.iml
out/

# IDE project files (Eclipse)
.settings/
.classpath
.project
