<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- WEB-53: File location of Maxmind GeoIp Database -->
    <Parameter name="geoip-database-path" value="${catalina.base}/staticfiles/builds/GeoLiteCity.dat"/>

    <!-- WEB-56: Path to the base builds dir. Note, do not include a trailing "/". -->
    <Parameter name="builds-path" value="${catalina.base}/staticfiles/builds"/>

    <!-- WEB-57: Path to the base builds dir. Note, do not include a trailing "/". -->
    <Parameter name="spark-plugins-path"         value="${catalina.base}/staticfiles/builds/spark/plugins"/>
    <Parameter name="openfire-plugins-path"      value="${catalina.base}/staticfiles/repositories/maven/"/>
    <Parameter name="openfire-plugins-beta-path" value="${catalina.base}/staticfiles/builds/openfire/plugins-beta"/>
    <Parameter name="openfire-plugins-dev-path"  value="${catalina.base}/staticfiles/builds/openfire/plugins-dev"/>

    <!-- Used to interact with Discourse's API -->
    <Parameter name="discourse-api-key" value="CHANGEME"/>

    <!-- WEB-50: JNDI datasource for the database that the website uses to collect statistics. -->
    <Resource
        name="jdbc/stats"
        auth="Container"
        factory="org.apache.commons.dbcp.BasicDataSourceFactory"
        type="javax.sql.DataSource"
        username="tomcat-website"
        password="CHANGEME"
        driverClassName="com.mysql.jdbc.Driver"
        url="jdbc:mysql://CHANGEME:3306/stats?characterEncoding=UTF-8"
    />
</Context>
