 
 .ylayout-container {
	background-color: transparent !important;
}


.ydlg .ydlg-close {
	background-image: url(../jive-images/basic-dialog/btn-close-sprite.png);
	cursor:pointer;
	font-size:1px;
	height:29px;
	width:25px;
	line-height:1px;
	margin:0px;
	padding:0px;
	position:absolute;
	right:5px;
	top:0px;
	visibility:inherit;
	z-index:6;
	}
.ydlg .ydlg-close.hover {
	background-image: url(../jive-images/basic-dialog/btn-close-sprite.png) no-repeat fixed 0px 29px;
}


* {
	}
	
body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}


/* Custom classes and IDs for Group Chat ------------------------------------------- */

/* Container for the chat window. Helps determine where the chat window is on page. */
/* If fitToParent: "true" in the config js, then #groupchat-container controls where the dialog is positioned on screen as well as its size */
#groupchat-container { 
	background: #fff url(../jive-images/animated/waitLoadingChattrans.gif) no-repeat center center;
	height: 500px;
	width: 650px;
	margin: 15px 0px;
}

/* Topic Bar Styles */
.jivetheme-muc .jive-topic {
	border: 1px solid #b5b5b5;
	height: 36;
}
div.jive-muc-ctrl {
	background: url(../jive-images/groupchat/bg_topic.gif);
	}
div.jive-muc-ctrl p {
	font-weight: bold;
	font-size: 12px;
	height: 36px;
	color: #f26522;
	padding: 9px 0 0 5px;
	}
div.jive-muc-ctrl p span {
	color: #000000;
	}
	
/* Chat Window Styles */
.jivetheme-muc .jive-chat { /*The main chat window */
	background-color: #FFF;
	border: 1px solid #b5b5b5;
	padding: 5px 0px;
}

/* Chat Input */
/* container */
.jivetheme-muc .jive-message-field {
	background-color: #FFF;
	border: 1px solid #b5b5b5;
	padding: 5px;
}
/* message entry area */
.jivetheme-muc textarea.jive-tab-message
{
    font-family: Arial,Geneva,sans-serif;
	font-size: 1em;
	border: none;
}


/* Contact List */
.jivetheme-muc div.jive-contact-list {
	background-color: #FFF;
	border: 1px solid #b5b5b5 !important;
}

/* User Controls - Username and Availability */
div.jive-user-controls {
	background: transparent url(../jive-images/groupchat/bg_topic.gif) repeat-x scroll left bottom;
	border: 1px solid #b5b5b5 !important;
	padding: 5px 5px;
}
div.jive-user-controls input.jive-muc-username {
	background: transparent;
	border: none;
	font-size: .85em;
	font-weight: bold!important;	
	height: 14px;
	padding: 2px 0px;
}
div.jive-user-controls input.jive-muc-username-active {
	background: white;
	border: none;
	font-size: .85em;
	font-weight: bold!important;	
	height: 14px;
	padding: 2px 4px;
}
	
/* This will override the YUI styles from basic-dialog.css and ignitechat.css */

/* .ydlg is the Container for the entire chat window */
.jivetheme-muc .ydlg {
	padding: 0px;
	}
.jivetheme-muc .ydlg .ydlg-dlg-body { 
	background: url(../jive-images/layout/bg_ydlg-dlg-body.gif) repeat-x scroll center top;
	border: 3px #000 solid;
	border-top: 0px none;
	padding: 10px !important;
	}

/* .ydlg-hd is the titlebar for the chat window. It is broken up into 3 sections. Center then Left & Right Corners. */
.jivetheme-muc .ydlg .ydlg-hd {
	background: #000000 url(../jive-images/basic-dialog/hd-sprite.png) repeat-x scroll 0px -50px;
	padding: 5px;
	}
 .jivetheme-muc .ydlg .ydlg-hd-left {
	background: transparent url(../jive-images/basic-dialog/hd-sprite.png) no-repeat scroll 0px 0px;
	padding-left: 5px;
	}
 .jivetheme-muc .ydlg .ydlg-hd-right {
	background: transparent url(../jive-images/basic-dialog/hd-sprite.png) no-repeat scroll right -100px;
	padding-right: 5px;
	}
 .jivetheme-muc div.ydlg-hd h1 {
	color: #FFF;
	font-size: 100%;
	background: url(../jive-images/groupchat/logo-SparkWeb-small.png) no-repeat;
	height: 17px;
	padding-left: 20px;
	margin-left: 5px;
	padding-top: 2px;
	}

/* Handles for YUI layout controls ----------------------------------------------------------------- */
 .jivetheme-muc .ylayout-split {
	background: none;
	height: 10px;
	width: 10px;
	}
 .jivetheme-muc .ylayout-split-v {
	background: transparent url(../jive-images/basic-dialog/s-handle.gif) no-repeat center center;
}
 .jivetheme-muc .ylayout-split-h {
	background: transparent url(../jive-images/basic-dialog/e-handle.gif) no-repeat center center;
}

/* All internal layout is contained inside a panel with the class ylayout-panel */
 .jivetheme-muc .ylayout-panel {
	border: none;
	background: none
}
 .jivetheme-muc .ylayout-nested-layout .ylayout-panel-north,
 .jivetheme-muc .ylayout-nested-layout .ylayout-panel-east,
 .jivetheme-muc .ylayout-nested-layout .ylayout-panel-south {
	border: none;
}
 .jivetheme-muc .ydlg .ydlg-bd, .ydlg .ylayout-container {
 border: none;
 }
 
 
 
/* Messages in the main Chat Window --------------------------------------------------------------- */
.jivetheme-muc div.jive-history {
	margin: -10px 0px; /* Fixes the overflow of text dissapearing at the bottom */
	padding: 0px;
}

.jivetheme-muc div.jive-history div {
    padding: 0px;
    font-family: Verdana,Arial,Geneva,sans-serif;
	font-size: 10px !important;
    margin: 0px;
}
.jivetheme-muc div.jive-history div.contact-message {
	padding: 2px 15px;
	margin: 5px 0px;
}
.jivetheme-muc div.jive-history div.user-message {
	background: #f4f8ff;
	margin: 5px 0px;
	padding: 5px 15px;
}

.jivetheme-muc div.jive-history div span.meta {
	font-weight: bold;
	width: 100%;
}
.jivetheme-muc div.jive-history div span.message-content {
	line-height: 13px;
	width: 100%;
}

.jivetheme-muc div.jive-history div.user-message span.meta {
    color: #354e79;
}
.jivetheme-muc div.jive-history div.contact-message span.meta {
    color: #000;
}

.jivetheme-muc div.jive-history div.status-message { /* Messages from the server (User logged out, logged in, etc.) */
	color: #666666;
	margin: 3px 0px;
	padding: 2px 5px;
}

.jivetheme-muc div.jive-history div span.meta em /* Date and Time Messages */
{
	/* display: none; */ /* hides the timestamp next to the user name in the chat window */
	color: #444;
}

/* Message Entry Area --------------------------------------------------------------------- */
textarea.jive-tab-message
{
    font-family: Arial,Geneva,sans-serif;
	font-size: 1em;
	border: none;
}


/* The contact list */
.jivetheme-muc ul.jive-roster, div.jive-muc-occupants ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
    font-family: Verdana,Arial,Geneva,sans-serif;
	font-size: 1em;
}

.jivetheme-muc ul.jive-roster span.group-label, 
.jivetheme-muc div.jive-muc-occupants span.group-label {  /* collapsible group label */
	display: block;
	padding: 5px;
	margin-bottom: 5px;
	background: #F3F2F2 url(none);
}
.jivetheme-muc ul.jive-roster span.group-label em, 
.jivetheme-muc div.jive-muc-occupants span.group-label em { 
	font-style: none;
	color: #F26522;
	font-weight: bold;
	display: block;
}
.jivetheme-muc ul.jive-roster span.group-label em {padding: 2px;}
.jivetheme-muc div.jive-muc-occupants span.group-label em {font-size: 0.88em;}

.jivetheme-muc ul.jive-roster ul.group-list li span.msg, 
.jivetheme-muc div.jive-muc-occupants ul ul.group-list li span.msg {
	background-color: transparent;
	background-image: none;
	padding-left: 5px;
}

.jivetheme-muc ul.jive-roster ul.group-list li, 
.jivetheme-muc div.jive-muc-occupants ul ul.group-list li {
	display: block;
    padding: 2px 0px 1px 25px;
	cursor: pointer;
}
.jivetheme-muc ul.jive-roster ul.group-list li {
	background-position: 11px 1px;
	padding-left: 29px;
}

.jivetheme-muc ul.jive-roster ul.group-list li span.msg,
.jivetheme-muc div.jive-muc-occupants ul ul.group-list li span.msg {
	color: #999;
	background-color: transparent;
	display: inline;
	border-bottom-width: 0px;
	padding: 0px 2px;
}

/* Selecting a user in the roster */
.jivetheme-muc ul.jive-roster ul.group-list li.selected, 
.jivetheme-muc div.jive-muc-occupants ul ul.group-list li.selected {
	padding: 1px 0px 1px 25px !important;
	border-top: 1px solid #BBC3D7;
	border-bottom: 1px solid #BBC3D7;
	background-color: #f4f8ff;
	background-position: 5px 2px !important;
}

.jivetheme-muc ul.jive-roster ul.group-list li.hover, 
.jivetheme-muc div.jive-muc-occupants ul ul.group-list li.hover {
	color: #F26522;
}

.jivetheme-muc .roster-contact-available {
	background: url(../images/im_available.png) no-repeat 5px 3px !important;
}

.jivetheme-muc .roster-contact-chat {
	background: url(../images/im_free_chat.png) no-repeat 5px 3px !important;
}

.jivetheme-muc .roster-contact-composing {
	background: url(../images/message_edit.png) no-repeat 5px 3px !important;
}

.jivetheme-muc .roster-contact-away {
	background: url(../images/im_away.png) no-repeat 5px 3px !important;
    font-style: italic;
    color: #999;
}

.jivetheme-muc .roster-contact-xa {
	background: url(../images/im_away.png) no-repeat 5px 3px !important;
    font-style: italic;
    color: #999;
}

.jivetheme-muc .roster-contact-dnd {
	background: url(../images/im_dnd.png) no-repeat 5px 3px !important;
    font-style: italic;
    color: #999;
}

.jivetheme-muc .roster-contact-onphone {
	background: url(../images/im_onphone.png) no-repeat 5px 3px !important;
    font-style: italic;
    color: #999;
}

.jivetheme-muc .roster-contact-onroad {
	background: url(../images/im_onroad.png) no-repeat 5px 3px !important;
}

.jivetheme-muc .roster-contact-pending {
	background: url(../images/im_pending.png) no-repeat 5px 3px !important;
}

.jivetheme-muc .roster-contact-unavailable {
	background: url(../images/im_unavailable.png) no-repeat 5px 3px !important;
    font-style: italic;
    color: #999;
}


/* invite menu */
div.jive-userpane {
	background: transparent url(../images/sparkbg.gif) repeat-x scroll left center;
	height: 22px;
	padding: 7px 5px;
	position: relative;
	font-family: Arial,Geneva,sans-serif;
	font-size: 0.9em;
}
div.jive-userpane strong {font-weight: bold;}
div.jive-userpane a {
	text-decoration: none;
	color: #333;
	background-color: #e5e9ec;
	padding: 3px 6px;
	border: 1px solid #333;
	margin: 0px 10px;
}
	
div.muc-ctrl-frame {
	display: inline;
	position: absolute;
	top: 7px; /* i don't know either */
	right: 3px;
}
div.jive-invite-control {
	background-color: #e5e9ec;
	margin-left: 4px;
	padding: 2px 5px;
	border: 1px solid black;
	cursor: pointer;
	display: inline;
}
div.jive-invite-menu {
	position: absolute;
	border: 1px solid #000;
	background-color: white;
}
div.yui-ac-bd {
	font-family: Arial,Geneva,sans-serif;
}
div.yui-ac-bd li {
	height: 16px;
	overflow: hidden;
	cursor: pointer;
}
div.yui-ac-bd li.yui-ac-highlight {
	background-color: #bcc;
}
div.jive-invite-menu div.yui-ac-bd li div {
	padding-left: 18px;
}
div.yui-ac-bd div.empty {
	padding: 2px;
	font-style: italic;
}

div.jive-mucinvite { /* thing that appears inline in chat windows */
	background-color: #e5e9ec;
}
div.jive-mucinvite p {
	font-weight: bold;
}
div.jive-mucinvite a {
	margin: 0px 9px;
}

/* tabs */
.ytab-strip .ytab-text {padding-left: 16px;}
.ylayout-panel .ytab-wrap {
	background: transparent url(../images/sparkbg.gif) repeat-x scroll left bottom !important;
}


/* roster window controls */
.jive-ctrlbar {
	height: 22px;
	margin-top: 2px;
	margin-left: 5px;
}
.jive-ctrlbar a.jive-control-btn,
.jive-userstatus p.jive-mystatus a
{
	color: #000 !important;
	text-decoration: none;
	display: none;
	margin: 0px 3px 0px 0px;
	padding: 1px 3px;
	font-family: Arial,Geneva,sans-serif;
	font-size: 0.8em;
}
.jive-ctrlbar a.jive-control-btn {
	background-color: #ddd;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #aaa;
	border-left: 2px solid #fff;
	border-right: 2px solid #aaa;
	border-style: outset;
}
.jive-ctrlbar a.jive-control-btn:hover,
.jive-userstatus a.jive-statusmenu-ctrl:hover {
	background-color: #eee;
}
.jive-ctrlbar a.jive-control-btn:active {
	border-style: inset;
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #aaa;
	border-right: 2px solid #fff;
	background-color: #eee;
}
.jive-ctrlbar a.disabled {
	color: #999;
	border: 1px solid #999;
	padding: 2px 4px;
	cursor: none;
}
.jive-ctrlbar img.autobtn {
	cursor: pointer;
	margin-right: 5px;
}


.jive-userstatus, .jive-chat-toppane, .jive-controlpanel {
	padding: 4px;
	font-family: Arial,Geneva,sans-serif;
	background: transparent url(../images/sparkbg.gif) repeat-x scroll left bottom;
	position: relative;
}
.jive-chat-toppane p {
	margin-left: 4px; 
}
.jive-userstatus p.avatar, .jive-chat-toppane p.avatar {
	float: left;
	margin: 3px 6px 2px 2px;
	display: none;
}
.jive-userstatus p.avatar img, .jive-chat-toppane p.avatar img {
	margin: 0px;
	padding: 1px;
	border-width: 0px 1px 1px 0px;
	border-color: #999;
	border-style: none solid solid none;
	background-color: white;
}
.jive-userstatus h4, .jive-chat-toppane h4 {
	margin-left: 5px;
	font-size: 0.78em;
}

.jive-userstatus p.jive-mystatus a {
	display: inline;
	margin-left: 0px;
	padding-left: 18px;
	font-size: 0.8em;
	background-position: 0px 0px !important;
}
.jive-userstatus p.jive-mystatus a span {
	padding-right: 10px;
	background: transparent url(../images/menutri.gif) no-repeat right 50%;
}

div#jive-statusmenu, div#contact-conmenu, div#group-conmenu {
	font-family: Arial,Geneva,sans-serif;
	font-size: 0.8em;
	background-color: white;
}
div#jive-statusmenu ul, div#contact-conmenu ul, div#group-conmenu ul {
	padding: 4px 0px 0px 0px;
}
div#jive-statusmenu ul.first-of-type,
div#contact-conmenu ul.first-of-type, 
div#group-conmenu ul.first-of-type {
	padding: 0px 0px 4px 0px;
}
div#jive-statusmenu ul li, div#contact-conmenu ul li, div#group-conmenu ul li {
	padding: 2px 0px 1px 18px;
}
div#jive-statusmenu ul li a,
.jive-userstatus p.jive-mystatus a span {
	font-style: normal !important;
}

.jive-chat-toppane .jive-ctrlbar-topchat {
	position: absolute;
	top: 5px;
	right: 4px;
}
/* oh, and: */
.jive-chat-toppane {
	height: 50px;
}

/* small dialogs and chat toppane */
.ydlg-bd .dhead {
	background-color: white;
	padding: 8px 4px;
	font-family: Arial,Geneva,sans-serif;
}
.ydlg-bd .dhead p {
	padding: 7px;
	background-color: #e5e9ec;
}
.ydlg-bd .dbody {
	padding: 3px 5px;
	font-family: Arial,Geneva,sans-serif;
}
/*.jive-toppane {
	padding: 5px 5px; 
	background: transparent url(../images/sparkbg.gif) repeat-x scroll left bottom;
}
.jive-toppane span {padding-top: 2px;}*/
.jive-toppane strong {font-weight: bold;} /* duh */
.jive-toppane a {
	margin: 0px 7px;
	color: #333;
	background-color: #ddd;
	text-decoration: none;
	border: 1px solid #333;
	padding: 3px;
	font-size: 0.78em;
}

.ydlg-bd .dbody td {
	padding: 4px 0px;
}
.ydlg-bd .dbody input.btn {
	padding: 1px 9px;
}
div.groups-ac {
	font-family: Arial,Geneva,sans-serif;
	font-size: 0.78em;
	position: absolute;
	border: 1px solid black;
	background-color: #fff;
	padding: 2px;
	width: 100px;
	visibility: hidden;
}

div.subrequest {
	margin: 20px 4px 8px 4px;
	border: 1px solid #aaa;
	padding: 5px;
}
p.legend {
	margin-top: -15px;
	margin-bottom: 5px;
}
p.legend span {
	background-color: #e5e9ec;
	padding: 2px;
}
div.subrequest label.disabled, div.subrequest td.disabled {color: #999;}
input.subrequest {margin: 0px 6px; padding: 1px 4px;}

#jive-spinner
{
	padding: 3px;
	width: 120px;
	height: 25px;
	position: absolute;
	font-family: Arial,Geneva,sans-serif;
	font-weight: bold;
}
#jive-spinner img {padding: 0px 4px;}
div.jive-spinnertab {background-color: #e5e9ec !important; position: relative;}
div.jive-spinnertab div {position: absolute; top: 185px; left: 200px;}
