#roster {
	margin-left : 0;
	padding-left : 0;
	list-style : none;
	}
li.group-label a.group-link { 
	border: 1px solid #BBC3D7;
	display: block;
	background-color: #D9E8FA;
	text-decoration: none;
	color : #215DC6;
	}
	
li.roster-contact-available {
	list-style-image: url(../images/im_available.png);
}

li.roster-contact-away {
	list-style-image: url(../images/im_away.png);
}

li.roster-contact-available a.contact-link, li.roster-contact-away a.contact-link {
	text-decoration: none;
	color : #000000;
}

li.roster-contact-away a.contact-link {
	font-style : italic;
}