
/* 
home.css - v0.1 - August 16, 2006 
styles specific to the home page for the Ignite Real Time site.
*/


/* large 'open dialog' promo-style panel on the home page */
#ignite_bigpanel {
	display: none;
	width: 100%;
	height: 207px;
	padding: 0px;
	margin-bottom: 15px;
	background: #fff url(../images/ignite_bigpanel_bg.gif) repeat-x;
	overflow: hidden;
	}

#ignite_bigpanel_content {
	display: inline;
	width: 450px;
	margin: 0px 0px 0px 18px;
	float: left;
	font-size: 10pt;
	}
#ignite_bigpanel_content h1  {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22pt;
	font-weight: normal;
	margin: 20px 0px 4px 0px;
	padding: 0px;
	}
#ignite_smallpanel_content {
	display: inline;
	width: 650px;
	margin: 5px 0px 0px 18px;
	float: left;
	font-size: 10pt;
	}
#ignite_smallpanel h1 {
	display: inline;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14pt;
	font-weight: normal;
	margin: 10px 3px 4px 0px;
	padding: 0px;
	}
#ignite_bigpanel_content a {
	font-weight: bold;
	padding-left: 9px;
	margin-left: 6px;
	/*background: transparent url(../images/ignite_bigpanel_arrow.gif) no-repeat left;*/
	}
#ignite_bigpanel_close a {
	float: right;
	width: 51px;
	height: 20px;
	background: transparent url(../images/ignite_bigpanel_close.gif) no-repeat;
	}
#ignite_bigpanel_close a:hover {
	background: transparent url(../images/ignite_bigpanel_close-over.gif) no-repeat;
	}
#ignite_bigpanel_screenshot {
	width: 177px;
	height: 208px;
	padding: 7px 5px 0px 0px;
	float: right;
	}

#ignite_smallpanel {
	display: none;
	width: 100%;
	height: 60px;
	padding: 0px;
	margin-bottom: 15px;
	background: #fff url(../images/ignite_bigpanel_bg.gif) repeat-x;
	background-position: 0px -20px;
	overflow: hidden; 
	}
#ignite_smallpanel_open a {
	float: right;
	width: 44px;
	height: 20px;
	background: transparent url(../images/ignite_smallpanel_open.gif) no-repeat;
	}
#ignite_smallpanel_open a:hover {
	background: transparent url(../images/ignite_smallpanel_open-over.gif) no-repeat;
	}

#ignite_home_body_leftcol h2  {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18pt;
	font-weight: normal;
	margin: 0px 0px 4px 0px;
	padding: 0px;
	}

#ignite_home_body {
	float: left;
	width: 720px;
	}
#ignite_home_body_leftcol {
	width: 100%;
	float: left;
	border-top: 4px solid #000;
	}
#ignite_home_body_rightcol {
	width: 225px;
	float: right;
	font-size: 8pt;
	border-top: 4px solid #000;
	margin-bottom: 15px;
    background: #fff url(../images/ignite_home_bodybg.gif) repeat-y right;
	}


/* featured memebers */
#ignite_home_body_featured {
	float: left;
	width: 225px;
	background: #fafafa url(../images/ignite_home_featmemb_bg.gif) repeat-x bottom;
	text-align: center;
	}
#ignite_home_body_featured h4 {
	font-size: 9pt;
	margin: 0px;
	padding: 10px 0px 2px 12px;
	text-align: left;
	}
#ignite_home_body_featured div {
	width: 112px;
	padding: 10px 0px 12px 0px;
	clear: none;
	text-align: center;
	}
#ignite_home_body_featured div a {
	text-align: center;
	}
#ignite_home_body_featured div a div.ignite_home_featured_avatar {
	height: 46px;
	width: 47px;
	margin: 0px 30px 0px 30px;
	padding: 0px;
	background: transparent url(../images/ignite_avatar_background2.gif) no-repeat;
	}
#ignite_home_body_featured div a img {
	margin: 0px;
	padding: 7px 7px 10px 9px;
	border: none;
	}
#ignite_home_body_featured div a {
	font-weight: bold;

	}


/* 'recent' discussions, news, wiki docs and articles */
#ignite_home_body_recent {
	padding: 12px;
	line-height: 10pt;
	float: left;
	}
#ignite_home_body_recent h4 {
	font-size: 9pt;
	float: left;
	clear: both;
	width: 180px;
	margin: 0px;
	padding: 20px 0px 2px 0px;
	}
#ignite_home_body_recent div {
	clear: both;
	float: left;
	width: 180px;
	color: #666;
	border-bottom: 1px solid #e1e1e1;
	padding: 5px 0px 5px 0px;
	}

#ignite_home_body_recent div a {
	color: #666;
	text-decoration: none;
	}
#ignite_home_body_recent div a:hover {
	text-decoration: underline;
	}

#ignite_home_body_recent div.discussion {
float: left;
	width: 200px;
	}
#ignite_home_body_recent div.discussion img {
	background: transparent url(../images/ignite_avatar_16x16_bg.gif) no-repeat;
	padding: 3px;
	float: left;
	margin: 1px 7px 0px 0px;
	}
#ignite_home_body_recent div.discussion strong {
	color: #333;
	}
#ignite_home_body_recent div.news {
	background: transparent url(../images/ignite_icon_news.gif) no-repeat left;
	padding-left: 18px;
	}
#ignite_home_body_recent div.wiki {
	background: transparent url(../images/ignite_icon_wiki.gif) no-repeat left;
	background-position: 0px 5px;
	padding-left: 18px;
	}
#ignite_home_body_recent div.articles {
	background: transparent url(../images/ignite_icon_articles.gif) no-repeat left;
	background-position: 0px 6px;
	padding-left: 18px;
	}