
/* 
interior.css - v0.1 - August 16, 2006 
styles specific to the interior pages for the Ignite Real Time site.
*/


/* subnav styles */
#ignite_subnav {
	height: 30px;
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff url(../images/ignite_subnav-bg.gif) repeat-x;
	overflow: hidden;
	}
#ignite_subnav ul {
	margin: -10px 0 0 2px;
	padding: 0;
	list-style-type: none;
	}
#ignite_subnav ul li {
	float: left;
	margin: 7px 0 0 0;
	padding: 10px 2px 10px 0;
	color: #333;
	font-size: 9pt;
	background: transparent url(../images/ignite_subnav-div.gif) no-repeat right;
	}
#ignite_subnav ul li a, 
#ignite_subnav ul li a:visited  {
	margin: 0 0 0 0;
	padding: 10px 11px 10px 11px;
	color: #333;
	font-size: 9pt;
	text-decoration: none;
	}
#ignite_subnav ul li a:hover, 
#ignite_subnav ul li a:active  {
	text-decoration: underline;
	}
#ignite_subnav ul li a.ignite_subnav_project, 
#ignite_subnav ul li a:visited.ignite_subnav_project {
	background: transparent url(../images/ignite_subnav-proj-on.gif) no-repeat center;
	color: #fe7501;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: bold;
	}
#ignite_subnav ul li a.ignite_subnav_current, 
#ignite_subnav ul li a:visited.ignite_subnav_current {
	background: transparent url(../images/ignite_subnav-current.gif) repeat-x;
	background-position: 4px;
	/*background: transparent url(../images/ignite_subnav-proj-on.gif) no-repeat bottom center;*/
	/*background-position: center 3px;*/
	font-weight: bold;
	}

/* large 'open dialog' promo-style panel on the interior pages */
#ignite_bigpanel {
	display: none;
	width: 700px;
	height: 254px;
	padding: 0;
	margin-bottom: 15px;
	background: #fff url(../images/ignite_bigpanel_bg-int.gif) repeat-x;
	overflow: hidden;
	}
#ignite_bigpanel_content {
	display: inline;
	width: 390px;
	height: 194px;
	margin: 0 0 0 18px;
	float: left;
	font-size: 10pt;
	overflow: hidden;
	}
#ignite_bigpanel_content h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22pt;
	font-weight: normal;
	margin: 20px 0 4px 0;
	padding: 0;
	}
#ignite_bigpanel_content p {
	margin: 0 0 0 0;
	padding: 5px 0 10px 0;
	}
#ignite_smallpanel h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22pt;
	font-weight: normal;
	margin: 20px 0 0 0;
	padding: 0 0 0 18px;
	float: left;
	}
#ignite_bigpanel h1.openfire,
#ignite_smallpanel h1.openfire {
	background: transparent url(../images/logo_openfire.gif) no-repeat left;
	padding-left: 48px;
	}
#ignite_bigpanel h1.spark, 
#ignite_smallpanel h1.spark {
	background: transparent url(../images/logo_spark.gif) no-repeat left;
	padding-left: 40px;
	}
#ignite_bigpanel h1.sparkweb, 
#ignite_smallpanel h1.sparkweb {
	background: transparent url(../images/logo_sparkweb.gif) no-repeat left;
	padding-left: 40px;
	}
#ignite_bigpanel h1.asterisk, 
#ignite_smallpanel h1.asterisk {
	background: transparent url(../images/logo_asterisk.gif) no-repeat left;
	padding-left: 48px;
	}
#ignite_bigpanel h1.smack, 
#ignite_smallpanel h1.smack {
	/*background: transparent url(../images/logo_smack.gif) no-repeat left;
	padding-left: 35px;*/
	}
#ignite_bigpanel h1.tinder, 
#ignite_smallpanel h1.tinder {
	/*background: transparent url(../images/logo_tinder.gif) no-repeat left;
	padding-left: 35px;*/
	}
#ignite_bigpanel h1.whack, 
#ignite_smallpanel h1.whack {
	/*background: transparent url(../images/logo_whack.gif) no-repeat left;
	padding-left: 35px;*/
	}
#ignite_bigpanel h1.xiff, 
#ignite_smallpanel h1.xiff {
	/*background: transparent url(../images/logo_xiff.gif) no-repeat left;
	padding-left: 40px;*/
	}

#ignite_bigpanel_content h1 span,
#ignite_smallpanel h1 span {
	font-family: Arial, Helvetica, sans-serif;
	color: #ababab;
	font-size: 12pt;
	font-weight: bold;
	}
#ignite_bigpanel_download {
	width: 390px;
	height: 60px;
	margin: 0 0 0 18px;
	padding: 20px 0 0 0;
	float: left;
	background: transparent url(../images/ignite_bigpanel_dl_bg.gif) no-repeat top left;
	font-size: 8pt;
	color: #ccc;
	}
#ignite_bigpanel_download a {
	display: block;
	float: left;
	width: 118px;
	height: 27px;
	background: transparent url(../images/ignite_bigpanel_dl.gif) no-repeat;
	text-align: center;
	padding-top: 5px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	}
#ignite_bigpanel_download a:hover {
	background: transparent url(../images/ignite_bigpanel_dl-over.gif) no-repeat;
	}
#ignite_bigpanel_download span {
	float: left;
	padding-top: 5px;
	}
#ignite_bigpanel_download strong {
	font-size: 10pt;
	color: #fff;
	padding: 0 10px;
	}

#ignite_bigpanel_close a {
	float: right;
	width: 51px;
	height: 20px;
	background: transparent url(../images/ignite_bigpanel_close.gif) no-repeat;
	}
#ignite_bigpanel_close a:hover {
	background: transparent url(../images/ignite_bigpanel_close-over.gif) no-repeat;
	}
#ignite_bigpanel_screenshot {
	width: 235px;
	height: 224px;
	padding: 17px 0 0 0;
	float: right;
	text-align: right;
	}
#ignite_bigpanel_screenshot a {
	display: block;
	background: transparent url(../images/ignite_icon_arrow-right.gif) no-repeat right;
	margin: -4px 0 0 0;
	padding: 0 8px 0 0;
	color: #b2b2b2;
	text-decoration: none;
	font-size: 8pt;
	}
#ignite_bigpanel_screenshot a:hover {
	color: #ccc;
	text-decoration: underline;
	} 
#ignite_bigpanel_tryitlive {
	padding: 40px 0 0 0;
	float: right;
	text-align: right;
	vertical-align: middle;
	}
#ignite_bigpanel_tryitlive a {
	display: block;
	margin: -4px 4px;
	padding: 40px 0 0;
	color: #000000;
	text-decoration: none;
	font-size: 16pt;
	text-align: center;
	vertical-align: middle;
	background-color: #FCA805;
	border: 2.0px solid #005500;
        -moz-border-radius : 5px;
	width: 150px;
	height: 70px;
	}
#ignite_bigpanel_tryitlive a:hover {
	color: #000000;
	border: 2.0px solid #005500;
	background-color: #FDC711;
	} 

#ignite_smallpanel {
	display: none;
	width: 700px;
	height: 70px;
	padding: 0;
	margin-bottom: 15px;
	background: #fff url(../images/ignite_bigpanel_bg-int.gif) repeat-x;
	background-position: 0 -20px;
	overflow: hidden; 
	}
#ignite_smallpanel_open a {
	float: right;
	width: 44px;
	height: 20px;
	background: transparent url(../images/ignite_smallpanel_open.gif) no-repeat;
	}
#ignite_smallpanel_open a:hover {
	background: transparent url(../images/ignite_smallpanel_open-over.gif) no-repeat;
	}

#ignite_int_body {
	float: left;
	width: 700px;
	background-color: #fff;
	}
#ignite_int_full {
	float: left;
	width: 100%;
	background-color: #fff;
	}
.ignite_int_body_padding {
	float: left;
	width: 95%;
	clear: both;
	padding: 10px 0 10px 20px;
	}
#ignite_body_header {
	float: left;
	width: 100%;
	height: 65px;
	padding: 0;
	margin: 0 0 20px 0;
	background: transparent url(../images/ignite_body_hdr.gif) repeat-x;
	overflow: hidden;
	}
#ignite_body_header h1 {
	float: left;
	padding: 20px 10px 0 20px;
	margin: 0;
	font-weight: normal;
	font-size: 20pt;
	color: #505050;
	text-transform: uppercase;
	}
#ignite_body_header h2 {
	float: left;
	padding: 22px 10px 0 20px;
	margin: 0;
	font-weight: normal;
	font-size: 16pt;
	color: #505050;
	text-transform: uppercase;
	}
#ignite_body_header h2 span {
	color: #ababab;
	font-size: 16pt;
	}
#ignite_body_header h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22pt;
	font-weight: normal;
	margin: 20px 0 4px 18px;
	padding: 0;
	float: left;
	}
#ignite_body_header h3 span {
	font-family: Arial, Helvetica, sans-serif;
	color: #ababab;
	font-size: 12pt;
	font-weight: bold;
	}
#ignite_body_header strong {
	float: left;
	padding: 33px 10px 0 0;
	margin: 0;
	color: #999;
	text-transform: uppercase;
	font-size: 10pt;
	}

#ignite_int_body_widecol {
	width: 100%;
	float: left;
	border-top: 4px solid #000;
	}

img.ignite_body_image_right {	
	margin: 2px 0 10px 15px;
	float: right;
	}

/* projects page styles */
.ignite_project_big {
	float: left;
	overflow: hidden;
	padding: 0;
	margin: 10px 0 0 0;
	width: 341px;
	height: 170px;
	background: transparent url(../images/ignite_projects_bg.gif) no-repeat;
	background-position: 0 18px;
	}
.ignite_project_big_left {
	margin-right: 18px;
	}
.ignite_project_type {
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10pt;
	color: #ccc;
	}
.ignite_project_big div.ignite_project_content {
	float: left;
	width: 300px;
	padding: 17px 0 10px 15px;
	overflow: hidden;
	}
.ignite_project_big div p {
	margin: 10px 0 0 0;
	padding: 0 0 0 45px;
	}

.ignite_project_big img.ignite_projects_openfire,
.ignite_project_big img.ignite_projects_spark, 
.ignite_project_big img.ignite_projects_sparkweb, 
.ignite_project_small img.ignite_projects_asterisk, 
.ignite_project_small img.ignite_projects_smack,
.ignite_project_small img.ignite_projects_tinder, 
.ignite_project_small img.ignite_projects_whack, 
.ignite_project_small img.ignite_projects_xiff {
	margin-bottom: 10px;
	}
.ignite_project_big a.ignite_project_openfire,
.ignite_project_big a.ignite_project_spark,
.ignite_project_big a.ignite_project_sparkweb {
	display: block;
	padding-left: 43px;
	color: #333;
	text-decoration: none;
	}
.ignite_project_big a:hover.ignite_project_openfire,
.ignite_project_big a:hover.ignite_project_spark,
.ignite_project_big a:hover.ignite_project_sparkweb {
	color: #555;
	text-decoration: underline;
	outline: none;
	}
.ignite_project_big a.ignite_project_openfire {
	background: transparent url(../images/logo_openfire.gif) no-repeat left;
	}
.ignite_project_big a.ignite_project_spark {
	background: transparent url(../images/logo_spark.gif) no-repeat 4px 0;
	}
.ignite_project_big a.ignite_project_sparkweb {
	background: transparent url(../images/logo_sparkweb.gif) no-repeat 4px 0;
	}
.ignite_project_big a h1 {
	display: inline;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22pt;
	font-weight: normal;
	margin: 20px 0 4px 0;
	padding: 0;
	}
.ignite_project_big a h1 span {
	font-family: Arial, Helvetica, sans-serif;
	color: #ababab;
	font-size: 12pt;
	font-weight: bold;
	}

/* table for libraries and other projects */
.ignite_project_table {
	clear: both;
	padding: 0;
	background: transparent url(../images/ignite_div_dotted.gif) repeat-x top;
	}
.ignite_project_table table {
	margin: 2px 0 0 0;
	padding: 0;
	width: 100%;
	border: 0;
	}
.ignite_project_table table tr.ignite_project_table-row-odd {
	background-color: #f7f7f7;
	}
.ignite_project_table table tr.ignite_project_table-row-even {
	background-color: #fff;
	}
.ignite_project_table table tr td {
	padding: 4px;
	margin: 0;
	border: 0;
	}
.ignite_project_table table tr td.ignite_project_table-title {
	padding-left: 6px;
	}
.ignite_project_table table tr td.ignite_project_table-title a {
	color: #333;
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
	}
.ignite_project_table table tr td.ignite_project_table-title a:hover {
	color: #555;
	text-decoration: underline;
	}
.ignite_project_table-description {
	color: #666;
	}
.ignite_project_table-version {
	color: #999;
	}
.ignite_project_table-link {
	font-size: 8pt;
	}

.ignite_downloads {
	float: left;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	color: #666;
	padding-bottom: 20px;
	}

.ignite_downloads div.ignite_int_body_padding {
	float: left;
	width: 100%;
	padding: 10px 0 10px 20px;
	}

.ignite_downloads_logo {
	width: 80px;
	float: left;
	padding-top: 6px;
	}
.ignite_downloads_content {
	width: 600px;
	float: left;
	}

.ignite_downloads h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18pt;
	font-weight: normal;
	margin: 6px 0 0 0;
	padding: 0;
	color: #333;
	}
.ignite_downloads h2 span {
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #999;
	padding: 0 0 0 4px;
	}
.ignite_downloads_info {
	float: right;
	font-size: 8pt;
	color: #666;
	}
.ignite_downloads_info a {
	color: #666;
	text-decoration: underline;
	padding: 0 4px;
	}

.ignite_download_choose {
	color: #fd8b03;
	font-weight: bold;
	font-size: 12pt;
	float: left;
	padding: 12px 6px 0 0;
	}


#openfireWindowsBtn.ignite_download_btn a,
#openfireLinuxBtn.ignite_download_btn a,
#openfireMacBtn.ignite_download_btn a,
#sparkWindowsBtn.ignite_download_btn a, 
#sparkLinuxBtn.ignite_download_btn a, 
#sparkMacBtn.ignite_download_btn a, 
#sparkbetaWindowsBtn.ignite_download_btn a, 
#sparkbetaLinuxBtn.ignite_download_btn a, 
#sparkbetaMacBtn.ignite_download_btn a {
	display: block;
	float: left;
	width: 113px;
	height: 43px;
	outline: none;
	}
#openfireWindowsBtn.ignite_download_btn_current a,
#openfireLinuxBtn.ignite_download_btn_current a,
#openfireMacBtn.ignite_download_btn_current a,
#sparkWindowsBtn.ignite_download_btn_current a, 
#sparkLinuxBtn.ignite_download_btn_current a, 
#sparkMacBtn.ignite_download_btn_current a, 
#sparkbetaWindowsBtn.ignite_download_btn_current a, 
#sparkbetaLinuxBtn.ignite_download_btn_current a, 
#sparkbetaMacBtn.ignite_download_btn_current a {
	display: block;
	float: left;
	width: 113px;
	height: 43px;
	outline: none;
	}

#openfireWindowsBtn.ignite_download_btn a,
#sparkWindowsBtn.ignite_download_btn a, 
#sparkbetaWindowsBtn.ignite_download_btn a {
	background: transparent url(../images/ignite_dl_btn_win.gif) no-repeat;
	}
#openfireWindowsBtn.ignite_download_btn a:hover,
#sparkWindowsBtn.ignite_download_btn a:hover, 
#sparkbetaWindowsBtn.ignite_download_btn a:hover {
	background: transparent url(../images/ignite_dl_btn_win-over.gif) no-repeat;
	}
#openfireWindowsBtn.ignite_download_btn_current a,
#sparkWindowsBtn.ignite_download_btn_current a, 
#sparkbetaWindowsBtn.ignite_download_btn_current a {
	background: transparent url(../images/ignite_dl_btn_win-on.gif) no-repeat;
	}

#openfireLinuxBtn.ignite_download_btn a,
#sparkLinuxBtn.ignite_download_btn a, 
#sparkbetaLinuxBtn.ignite_download_btn a {
	background: transparent url(../images/ignite_dl_btn_linux.gif) no-repeat;
	}
#openfireLinuxBtn.ignite_download_btn a:hover,
#sparkLinuxBtn.ignite_download_btn a:hover, 
#sparkbetaLinuxBtn.ignite_download_btn a:hover {
	background: transparent url(../images/ignite_dl_btn_linux-over.gif) no-repeat;
	}
#openfireLinuxBtn.ignite_download_btn_current a,
#sparkLinuxBtn.ignite_download_btn_current a, 
#sparkbetaLinuxBtn.ignite_download_btn_current a {
	background: transparent url(../images/ignite_dl_btn_linux-on.gif) no-repeat;
	}

#openfireMacBtn.ignite_download_btn a,
#sparkMacBtn.ignite_download_btn a,
#sparkbetaMacBtn.ignite_download_btn a {
	background: transparent url(../images/ignite_dl_btn_mac.gif) no-repeat;
	}
#openfireMacBtn.ignite_download_btn a:hover,
#sparkMacBtn.ignite_download_btn a:hover, 
#sparkbetaMacBtn.ignite_download_btn a:hover {
	background: transparent url(../images/ignite_dl_btn_mac-over.gif) no-repeat;
	}
#openfireMacBtn.ignite_download_btn_current a,
#sparkMacBtn.ignite_download_btn_current a, 
#sparkbetaMacBtn.ignite_download_btn_current a {
	background: transparent url(../images/ignite_dl_btn_mac-on.gif) no-repeat;
	}

#openfireCpBtn.ignite_download_btn a,
#sparkwebCpBtn.ignite_download_btn a, 
#smackCpBtn.ignite_download_btn a,
#tinderCpBtn.ignite_download_btn a, 
#whackCpBtn.ignite_download_btn a, 
#xiffCpBtn.ignite_download_btn a {
	display: block;
	float: left;
	width: 153px;
	height: 43px;
	outline: none;
	}
#openfireCpBtn.ignite_download_btn_current a,
#sparkwebCpBtn.ignite_download_btn_current a,
#smackCpBtn.ignite_download_btn_current a,
#tinderCpBtn.ignite_download_btn_current a,
#whackCpBtn.ignite_download_btn_current a, 
#xiffCpBtn.ignite_download_btn_current a {
	display: block;
	float: left;
	width: 153px;
	height: 43px;
	outline: none;
	}
#openfireCpBtn.ignite_download_btn a,
#sparkwebCpBtn.ignite_download_btn a,
#smackCpBtn.ignite_download_btn a,
#tinderCpBtn.ignite_download_btn a,
#whackCpBtn.ignite_download_btn a, 
#xiffCpBtn.ignite_download_btn a {
	background: transparent url(../images/ignite_dl_btn_cp.gif) no-repeat;
	}
#openfireCpBtn.ignite_download_btn a:hover,
#sparkwebCpBtn.ignite_download_btn a:hover,
#smackCpBtn.ignite_download_btn a:hover,
#tinderCpBtn.ignite_download_btn a:hover,
#whackCpBtn.ignite_download_btn a:hover, 
#xiffCpBtn.ignite_download_btn a:hover {
	background: transparent url(../images/ignite_dl_btn_cp-over.gif) no-repeat;
	}
#openfireCpBtn.ignite_download_btn_current a,
#sparkwebCpBtn.ignite_download_btn_current a,
#smackCpBtn.ignite_download_btn_current a,
#tinderCpBtn.ignite_download_btn_current a, 
#whackCpBtn.ignite_download_btn_current a, 
#xiffCpBtn.ignite_download_btn_current a {
	background: transparent url(../images/ignite_dl_btn_cp-on.gif) no-repeat;
	}

.ignite_download_panel {
	width: 600px;
	clear: both;
	border-top: 6px solid #f4f4f4;
	padding-top: 6px;
	}
.ignite_download_source_panel {
	width: 700px;
	clear: both;
	float: left;
	border: none;
	padding: 0;
	margin: 0 0 25px 0;
	}
.ignite_download_panel_label h4 {
	padding-top: 6px;
	float: left;
	}

.ignite_download_item_odd, 
.ignite_download_item_even {
	width: 100%;
	float: left;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-top: -1px;
	padding: 3px 0 3px 0;
	font-size: 8pt;
	}

.ignite_download_item_odd {
	background-color: #f6f6f6;
	}

.ignite_download_item_details {
	width: 400px;
	float: left;
	padding-left: 10px;
	}
.ignite_download_item_details a {
	font-size: 9pt;
	padding-right: 5px;
	}
.ignite_download_item_details img {
	vertical-align: middle;
	padding-right: 3px;
	}
.ignite_download_item_date {
	width: 110px;
	float: left;
	}
.ignite_download_item_size {
	float: right;
	width: 60px;
	text-align: right;
	padding-right: 8px;
	}

/* source table styles */
.ignite_source_table {
	
}
.ignite_source_table table {
	border : 1px solid #e6e6e6;
	width: 100%;
	margin-bottom: 20px;
	clear: both;
	
	}
.ignite_source_table TH, 
.ignite_source_table TD {
    padding : 5px;
}
.ignite_source_table TH {
    text-align : left;
    background-color : #e6e6e6;
	padding-left: 4px;
}
.ignite_source_table .subheader TH {
    padding-top : 6px;
    border-bottom : 1px #e6e6e6 solid;
}
.ignite_source_table .title {
    font-size : .9em;
    font-family : arial, helvetica, sans-serif;
}

.ignite_source_table .item {
	white-space: nowrap;
	font-weight: bold;
	background-color: #f6f6f6;
	border-right: 1px solid #e6e6e6;
	padding: 6px 8px 0 8px;
}
.ignite_source_table .item, 
.ignite_source_table .last {
	border-bottom: 1px solid #e6e6e6;
}
.ignite_source_table .finalRow {
	border-bottom: none;
}

.ignite_body_screenshot_nav {
	height: 20px;
	padding: 0;
	margin: 0;
	}
.ignite_body_screenshot_nav a.ignite_up {
	float: left;
	}
.ignite_body_screenshot_nav a.ignite_back {
	float: right;
	margin-right: 10px;
	}
.ignite_body_screenshot_nav a.ignite_forward {
	float: right;
	}
.ignite_body_screenshot_nav span.ignite_no-next {
	font-size: 8pt; 
	color: #ccc; 
	float: right; 
	padding: 2px 0 2px 4px;
	margin-right: 10px;
	}
.ignite_body_screenshot_nav span.ignite_no-prev {
	font-size: 8pt; 
	color: #ccc; 
	float: right; 
	padding: 2px 4px 2px 0;
	margin-right: 10px;
	}

.ignite_body_screenshots {	
	float: left;
	padding: 0 15px 15px 15px;
	}
.ignite_body_screenshots h3 {
	color: #497cb3;
	text-align: center;
	}
.ignite_body_screenshots table {	
	width: 440px;
	margin: 0;
	}
.ignite_body_screenshots tr td {	
	text-align: center;
	padding: 10px 0 10px 0;
	}

.ignite_body_screenshots a {
	color: #666;
	text-decoration: none;
	font-size: 8pt;
	}
.ignite_body_screenshots a img {
	border: 4px solid #fff;
	}
.ignite_body_screenshots a:hover img {
	border: 4px solid #f0f0f0;
	}

.ignite_body_screenshots_enterprise {
	background-color: #f9f9f9;
	}
.ignite_body_screenshots_enterprise table {	
	width: 200px;
	margin: 0;
	}

/* Openfire Plugins page table styles */
#plugins {
	display: block;
	width: 660px;
	margin: 0;
	padding-top: 10px;
}
#plugins table {
	width: 100%;
}
#plugins table tr.pluginTableHeader td {
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	font-weight : bold;
	text-align : left;
	background-color: #f6f6f6;
	padding-left: 4px;
	color: #333;
}
#plugins tr.pluginTableHeader td.pluginType {
	font-size: 10pt;
	padding: 3px 0 3px 7px;
	border-left: 1px solid #e6e6e6;
}
#plugins tr.pluginTableHeader td.pluginDate {
	border-right: 1px solid #e6e6e6;
}
#plugins th, #plugins td {
	font-size : 8pt;
}
#plugins .c1, #plugins .c2, #plugins .c3, #plugins .c4, #plugins .c5 {
	border-right : 1px solid #e6e6e6;
	border-bottom : 1px solid #e6e6e6;
	padding: 0 4px 0 7px;
}
#plugins table tbody tr td.c1 table {
	border: none;
	margin: 5px 0 5px 0;
}
#plugins table tbody tr td.c1 {
	border-left : 1px solid #e6e6e6;
	width: 55%;
}
#plugins table tbody tr td.c2 {
	width: 42px;
}
#plugins table tbody tr td.c3 {
}
#plugins table tbody tr td.c4 {
	width: 45px;
}
#plugins table tbody tr td.c5 {
	width: 80px;
}

#plugins .plugname {
        font-size : 10pt !important;
}
#plugins .description {
		display: block;
        font-size : 8pt;
        font-family : verdana,arial,helvetica,sans-serif;
		margin: 1px 0 0 2px;
}
#plugins .plugicon img {
		margin-right: 3px;
}

#ignite_members_statsblock {
	background-color: #e8f0f9;
	float: left;
	width: 100%;
	margin-bottom: 12px;
	margin-top: -5px;
	}
#ignite_members_statsblock_padding {
	float: left;
	width: 97%;
	clear: both;
	padding: 6px 0 6px 10px;
	}
#ignite_members_statsblock_left {
	float: left;
	}
#ignite_members_statsblock_left span {
	display: block;
	float: left;
	padding-top: 4px;
	}
#ignite_members_statsblock_left img {
	background: transparent url(../images/ignite_avatar_16x16_bg.gif) no-repeat;
	padding: 3px;
	vertical-align: middle;
	margin: 0 4px 0 10px;
	border: none;
	}
#ignite_members_statsblock_left a {
	color: #333;
	font-weight: bold;
	}

#ignite_members_statsblock_right {
	float: right;
	padding-top: 4px;
	}

/* Support page styles */
.ignite_int_body_support {
	float: left;
	width: 680px;
	clear: both;
	padding: 10px 0 30px 15px;
	}


#ignite_support_search {
	float: left;
	width: 680px;
	margin: 10px 0 1px 10px;
	padding-bottom: 10px;
	background: transparent url(../images/ignite_div_dotted.gif) repeat-x bottom;
	}
#ignite_support_search strong {
	display: block;
	float: left;
	font-size: 13pt;
	padding: 14px 10px 0 10px;
	}
#ignite_support_search form {
	padding: 10px 0 10px 0;
	margin: 0;
	float: left;
	}
#ignite_support_search form input {
	float: left;
	font-size: 12pt;
	}
#ignite_support_search input.ignite_support_search {
	width: 91px;
	height: 27px;
	border: none;
	padding: 0;
	margin: 0 0 0 10px;
	color: transparent;
	}

#ignite_support_main {
	float: left;
	width: 100%;
	border: 1px #CCCCCC solid;
	margin-bottom: 45px;
	}

#ignite_support_activity {
	float: left;
	width: 680px;
	background: #fff url(../images/ignite_support_activity-bg.gif) repeat-x top;
	margin: 0 0 20px 10px;
	}
#ignite_support_activity div.discussion, 
#ignite_support_activity div.articles {
	font-size: 8pt;
	}
#ignite_support_activity div.discussion a, 
#ignite_support_activity div.articles a  {
	color: #666;
	}
#ignite_support_activity div.discussion a:hover, 
#ignite_support_activity div.articles a:hover {
	text-decoration: underline;
	}
#ignite_support_activity strong {
	color: #333;
	}
#ignite_support_activity strong a {
	display: block;
	float: left;
	margin-top: 10px;
	}
#ignite_support_activity_forums, 
#ignite_support_activity_news, 
#ignite_support_activity_articles, 
#ignite_support_activity_documentation {
	padding: 14px 12px 12px 14px;
	line-height: 10pt;
	float: left;
	width: 200px;
	}
#ignite_support_activity_forums h4, 
#ignite_support_activity_news h4, 
#ignite_support_activity_articles h4, 
#ignite_support_activity_documentation h4 {
	font-size: 9pt;
	margin: 0;
	padding: 0 0 2px 0;
	}
#ignite_support_activity_forums div, 
#ignite_support_activity_news div, 
#ignite_support_activity_articles div, 
#ignite_support_activity_documentation div {
	color: #666;
	padding: 5px 0 5px 0;
	/*border-right: 1px solid #e4e4e4;*/
	}
#ignite_support_activity div.discussion img {
	background: transparent url(../images/ignite_avatar_16x16_bg.gif) no-repeat;
	padding: 3px;
	float: left;
	margin: 1px 7px 0 0;
	}
#ignite_support_activity div.news {
	background: transparent url(../images/ignite_icon_news.gif) no-repeat top left;
	background-position: 0 6px;
	padding-left: 18px;
	}
#ignite_support_activity div.wiki {
	background: transparent url(../images/ignite_icon_wiki.gif) no-repeat left;
	background-position: 0 5px;
	padding-left: 18px;
	}
#ignite_support_activity div.articles {
	background: transparent url(../images/ignite_icon_articles.gif) no-repeat left;
	background-position: 0 6px;
	padding-left: 18px;
	}
#ignite_support_activity_documentation p {
	padding: 3px 0 12px 0;
	margin: 0;
	color: #666;
	font-size: 8pt;
	}
#ignite_support_activity_documentation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#ignite_support_issuetracker {
	float: left;
	width: 680px;
	margin: 10px 0 1px 0;
	padding-bottom: 5px;
	background: transparent url(../images/ignite_div_dotted.gif) repeat-x top;
	}
#ignite_support_issuetracker p {
	margin: 5px 0 8px 0;
	color: #666;
	}
#ignite_support_issuetracker strong a {
	margin: 0;
	}

.ignite_int_body_support h2 {
	font-size: 12pt;
	padding: 0 0 3px 0;
	margin: 15px 0 0 0;
	}
.ignite_int_body_support h3 {
	font-size: 11pt;
	padding: 0 0 3px 0;
	margin: 15px 0 0 0;
	}
.ignite_int_body_support p {
	padding: 3px 0 20px 0;
	margin: 0;
	}

.ignite_support_projlink {
	margin-top: 0;
	margin-bottom: 8px;
	float: left;
	clear: both;
	}
.ignite_support_projlink a {
	display: block;
	font-weight: bold;
	padding-left: 22px;
	height: 16px;
	float: left;
	}
.ignite_support_projlink a.openfire {
	background: transparent url(../images/logo_openfire_16x16.gif) no-repeat left;
	}
.ignite_support_projlink a.spark {
	background: transparent url(../images/logo_spark_16x16.gif) no-repeat left;
	}
.ignite_support_projlink a.sparkweb {
	background: transparent url(../images/logo_sparkweb_16x16.gif) no-repeat left;
	}
.ignite_support_projlink a.asterisk {
	background: transparent url(../images/logo_asterisk_16x16.gif) no-repeat left;
	}
.ignite_support_projlink a.smack {
	background: transparent url(../images/logo_smack_16x16.gif) no-repeat left;
	}
.ignite_support_projlink a.tinder {
	background: transparent url(../images/logo_whack_16x16.gif) no-repeat left;
	}
.ignite_support_projlink a.whack {
	background: transparent url(../images/logo_whack_16x16.gif) no-repeat left;
	}
.ignite_support_projlink a.xiff {
	background: transparent url(../images/logo_xiff_16x16.gif) no-repeat left;
	}


#ignite_support_findprovider {
	border: 1px solid #dcdcdc;
	float: left;
	width: 100%;
	margin: 15px 0 35px 0;
	background-color: #fbf8ea;
	}
#ignite_support_findprovider img {
	float: left;
	padding: 10px 3px 10px 15px;
	}
#ignite_support_findprovider p {
	display: block;
	float: left;
	width: 430px;
	font-size: 8pt;
	padding: 8px 12px 8px 12px;
	}
#ignite_support_findprovider p a {
	display: inline;
	padding-right: 7px;
	font-weight: bold;
	background: transparent url(../images/ignite_arrow_right-big.gif) no-repeat right;
	}


.ignite_article_excerpt, 
.ignite_service-provider {
	border-bottom: 1px solid #dcdcdc;
	}
.ignite_article_excerpt h3 a, 
.ignite_service-provider h3 a {
	color: #333;
	text-decoration: none;
	}
.ignite_article_excerpt h3 a:hover, 
.ignite_service-provider h3 a:hover {
	color: #4f4f4f;
	}
.ignite_article_excerpt a, 
.ignite_service-provider a  {
	font-weight: bold;
	}
.ignite_support_author {
	color: #666;
	font-size: 8pt;
	}
.ignite_service-provider_url {
	font-size: 8pt;
	}
.ignite_service-provider_logo {
	float: left;
	}
.ignite_service-provider_logo img {
	margin: 1px 15px 0 0;
	}

.ignite_support_launchGC {
	border: 1px solid #e3e3e3;
	float: left;
	width: 100%;
	margin: 10px 0 30px 0;
	background-color: #fcfcfc;
	}
.ignite_support_launchGC h3 {
	background: transparent url(../images/ignite_subnav-div.gif) no-repeat right;
	font-size: 12pt;
	float: left;
	padding: 0 20px 0 20px;
	margin-top: 22px;
	}
.ignite_support_launchGC p {
	display: block;
	float: left;
	width: 450px;
	font-size: 8pt;
	padding: 18px 12px 15px 20px;
	}




.about_xmpp_supporters {
	border: 1px solid #c1d5ea;
	float: left;
	margin: 0 18px 10px 0;
    }
.about_xmpp_supporters h3 {
	background: #c7e3fe url(../images/ignite_about-xmpp-hdr-bg.gif) repeat-x top left;
	padding: 7px;
	margin:0;
	}
.about_xmpp_supporters img {
	margin: 8px;
	}


.ignite_fans_block {
	float: left;
	width: 100%;
	margin-bottom: 45px;
	}
.ignite_fans_block-hdr {
	float: left;
	width: 100%;
	background: transparent url(../images/ignite_fans_hdr-bg.gif) repeat-x;
	}
.ignite_fans_block-hdr h2 {
	margin:0;
	padding: 7px 0 5px 8px;
	font-size: 12pt;
	color: #2c609d;
	}
.ignite_fans_block table {
	float: left;
	width: 100%;
	}
.ignite_fans_block table tr td {
	vertical-align: top;
	}
.ignite_fans_block textarea {
	font-size: 8pt;
	width: 214px;
	margin-top: 5px;
	}
.ignite_fans_block table tr td.ignite_fans_logos {
	text-align: center;
	padding-right: 20px;
	width: 200px;
	}
.ignite_fans_block table tr td.ignite_fans_logos img {
	margin: 10px 0 5px 0;
	}
.ignite_fans_block table tr td.ignite_fans_logos span {
	width: 45px;
	float: left;
	margin: 0 10px;
	font-size: 7pt;
	color: #666;
	}
.ignite_fans_block table tr td.ignite_fans_logos span a {
	font-size: 8pt;
	display: block;
	font-weight: bold;
	}

.ignite_fans_block table tr td.ignite_fans_buttons {
	font-size: 7pt;
	color: #666;
	padding-right: 20px;
	}
.ignite_fans_block table tr td.ignite_fans_buttons span {
	float: left;
	}
.ignite_fans_block table tr td.ignite_fans_buttons strong {
	display: block;
	font-weight: normal;
	font-size: 8pt;
	color: #000;
	margin-top: 10px;
	}
.ignite_fans_block table tr td.ignite_fans_buttons img {
	margin: 10px 10px 5px 0;
	float: left;
	}
.ignite_fans_button1 {
	height: 137px;
	}
.ignite_fans_block table tr td.ignite_fans_screenshots {
	font-size: 8pt;
	color: #666;
	}
.ignite_fans_block table tr td.ignite_fans_screenshots img {
	margin: 10px 0 0 4px;
	float: left;
	}
.ignite_fans_block table tr td.ignite_fans_screenshots span {
	margin: 10px 0 0 0;
	float: left;
	}

    .road-table {
        -moz-border-radius : 5px;
    }
    .road-table TH, .road-table TD {
        padding : 6px;
    }
    .road-table TH {
        background-image : url(../images/roadmap-th.gif);
        background-position : bottom;
        background-repeat : repeat-x;
        padding : 4px 10px 7px 10px;
        color : #fff;
    }
    .road-table TD {
        vertical-align : top;
    }
    .road-table .nothing {
        background-image : none !important;
        background-color : #fff;
    }
    .road-table .label {
        font-weight : bold;
        width : 125px;
    }
    .road-table .col3 {
        width : 135px;
    }
    .road-table UL {
        padding : 0;
        margin : 0;
        margin-left : 1em;
    }
    
    H2.road {
        border-bottom : 1px #ccc dotted;
        margin-bottom : 15px;
    } 

    .vote-table {
        -moz-border-radius : 5px;
    }
    .vote-table TH, .vote-table TD {
        padding : 6px;
    }
    .vote-table TH {
        background-image : url(../images/votes-th.gif);
        background-position : bottom;
        background-repeat : repeat-x;
        padding : 4px 10px 7px 10px;
        color : #fff;
    }
    .vote-table TD {
        vertical-align : top;
    }
    .vote-table .nothing {
        background-image : none !important;
        background-color : #fff;
    }
    .vote-table .label {
        font-weight : bold;
    }
    .vote-table UL {
        padding : 0;
        margin : 0;
        margin-left : 1em;
    }    
