<?xml version="1.0" encoding="UTF-8"?>

<web-app
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee

http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">

    <display-name>Ignite Realtime Website</display-name>
    <description>Website source for igniterealtime.org</description>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>text/javascript;charset=UTF-8</mime-type>
    </mime-mapping>

    <!-- WEB-50: Database connection parameters are retrieved from the Tomcat context configuration (via JNDI). -->
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/stats</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- XMPP Domain of this Host -->
    <context-param>
        <param-name>xmpp-domain</param-name>
        <param-value>igniterealtime.org</param-value>
    </context-param>

    <!-- Hostname where our downloads are hosted. S3/Cloudfront, should almost never change.
         Default: http://download.igniterealtime.org Note, do not include a trailing "/". -->
    <context-param>
        <param-name>download-host</param-name>
        <param-value>http://download.igniterealtime.org</param-value>
    </context-param>

    <context-param>
        <param-name>csc_baseurl</param-name>
        <param-value>https://igniterealtime.jiveon.com</param-value>
    </context-param>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>

    <filter>
        <filter-name>CacheFilterStaticContent</filter-name>
        <filter-class>com.opensymphony.oscache.web.filter.CacheFilter</filter-class>
        <init-param>
            <param-name>lastModified</param-name>
            <param-value>on</param-value>
        </init-param>
        <init-param>
            <param-name>max-age</param-name>
            <param-value>86400</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CacheFilterStaticContent</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheFilterStaticContent</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheFilterStaticContent</filter-name>
        <url-pattern>*.jpeg</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheFilterStaticContent</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheFilterStaticContent</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>DownloadStats</servlet-name>
        <servlet-class>org.jivesoftware.site.DownloadStats</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>org.jivesoftware.site.DownloadServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>org.jivesoftware.updater.SparkUpdateServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PluginServlet</servlet-name>
        <servlet-class>org.jivesoftware.updater.SparkPluginServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PluginDownloadServlet</servlet-name>
        <servlet-class>org.jivesoftware.site.PluginDownloadServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PluginServlet</servlet-name>
        <url-pattern>/updater/sparkplugs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PluginDownloadServlet</servlet-name>
        <url-pattern>/updater/sparkplugs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/updater/updater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/downloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PluginDownloadServlet</servlet-name>
        <url-pattern>/projects/openfire/plugins/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PluginDownloadServlet</servlet-name>
        <url-pattern>/projects/openfire/plugins-beta/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PluginDownloadServlet</servlet-name>
        <url-pattern>/projects/openfire/plugins-dev/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>403</error-code>
        <location>/403.html</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
</web-app>
